.navi-bar{
    width: 210px;
    height: 100%;
    background: orange;
    top: 0;
    left: 0;
    padding: 10px 20px;
    margin-top: 60px;
    position: absolute;
}
.options{
    
    margin-top: 80px;
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;

}


.options a{
    color: #000000;
    position: relative;
    text-decoration: none;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    padding: 20px;
}

.options a::after{
    content: "";
    position: absolute;
    background-color: #ffffff;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transform: scaleX(0);
    transition: transform 0.6s;

}
.options a:hover{
    color: #000000;
}
.options a:hover:after{
    width: 100%;
    transform: scaleX(1);

}
.classes{
    width: 180px;
    height: 600px;
    border-radius: 4px;
    padding: 10px;
    margin: 10px;
    margin-top: 40px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    background-color: rgb(255, 221, 158);
}

.content{
    position: sticky;
    width: 72%;
    height: 700px;
    border-radius: 5px;
    margin-left: 20%;
    margin-top: 70px;
    margin-bottom: 60px;
    background-color: #000000;
   

}
.design{
    width: 50%;
    height: 100%;
    background-color: orange;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font: bold 23px 'Montserrat', sans-serif;
}

.design img{
    width: 100%;
    height: 100%;
    object-fit: fill;

}
.title{
    position: absolute;
    width: auto;
    padding: 50px;
    background: rgba(255, 255, 255, 0.548);
    box-shadow: 0 5px 15px rgba(0, 0, 0,.5);
    word-wrap: break-word;
    align-items: center;
   
}
.chapters{
    width: 50%;
    height: 700px;
    background-color: #f8e7c2;
    float: right;
}
.badge{
    position: absolute;
    top: 70px;
    left: 300px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border-color: #000000;
    background-color: aqua;
    display: grid;
    align-items: center;
    text-align: center;
    font: 23px 'Montserrat', sans-serif;

}
.badge img{
    width: 200px;
    height: 200px;
    object-fit: fill;
    border-radius: 50%;

}
#leaderboard-table{
    width: 100%;
    border-collapse: collapse;
    counter-reset: row-counter;
}
    #leaderboard-table tr{
        border: 3px solid black;
        transition: all 200ms linear;
        counter-increment: row-counter;
    }

    #leaderboard-table td{
        padding: 15px;
        /* width: 50px; */
        height: 125px;
        text-align: center; 
        
    }

    #leaderboard-table td:nth-child(2){
        padding: 5px;
        height: 125px;
        width: 100px;
        font-weight: bold;
        text-align: left; 
        
    }

    #leaderboard-table td:last-child{
        padding: 5px;
        height: 125px;
        width: 100px;
        font-weight: bold;
        font-size: larger; 
        
    }

    #leaderboard-table tr:first-child{
        background-color: gold;
    }

    #leaderboard-table tr:nth-child(2){
        background-color: silver;
    }

    #leaderboard-table tr:nth-child(3){
        background-color: peru;
    }

    #leaderboard-table tr:hover{
        background-color: orange;
        transition: all 200ms linear;
    }

    #leaderboard-table tr:before {
        content: counter(row-counter) ".";
        position: absolute;
        padding-top: 55px;
        padding-left: 15px;
        font-weight: bold;
        font-size: larger;
        text-align: start;
        
    }
.pfp {
    width: 75px;
    height: 75px;
}    
.pfp img{
    
    width: 75px;
    height: 75px;
    border-radius: 2px;
    margin-left: 35px;
}
.leaderboard-badge {
    width: 50px;
    height: 50px;
}    
.leaderboard-badge img{
    
    width: 50px;
    height: 50px;
    border-radius: 5px;
    padding: 0px;
    margin-left: 5px;
}
.Chapter-button{
    width: 400px;
    height: 60px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 6px;
    margin: auto;
    background:#f8e7c2;
    text-align: center;
    font: 20px 'Montserrat', sans-serif;
    display: grid;
    align-items: center;
    text-align: center;

}