input[type="submit"],
.button {
    display: block;
    width: 100%;
    padding: 0.5vw;
    margin-top: 0.5vw;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    background-color: orange;
    color: black;
    font-size: 0.8vw;
    cursor: pointer;
    font-family: 'Poppins', sans-serif; 
    font-weight: bold;
    transition: background-color 0.3s;
}

input[type="submit"]:hover,
.button:hover {
    background-color: darkorange;

}

.button-container button,
.input-button {
    padding: 0.5vw 1vw;
    border: none;
    border-radius: 4px;
    background-color: orange;
    color: black;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bold;
}

.button-container button:hover,
.input-button:hover {
    background-color: darkorange;
}